.bg-purple{
    background-color: purple;
}


body {
    min-height: 75rem;
    
  }


.bg-purple-light{
  background: #e6e4ff !important;
}


.btn-custom {
  background-color: purple !important;
  color: white !important;
}

.btn-custom:hover {
  background-color: darkviolet !important;
}


h1{
  text-decoration: underline;
}


.navbar-nav .nav-link.active-link {
  text-decoration: underline;
}


img.img-fluid {
  transition: box-shadow 0.3s ease-in-out;
}

img.img-fluid:hover {
  box-shadow: 5px 5px 10px rgba(128, 0, 128, 0.5); /* Violet shadow */
}

figure:hover {
  transform: scale(1.05); /* Zoom légèrement l'image au survol */
  transition: transform 0.3s ease-in-out;
}







